.landing-page{
    background: white url("./assets/images/bg image.jpg") ;
    background-size: cover;
    height: 100vh;
    color: pink;
}
.wrapper{
    background-color: rgba(0,0,0,0.5);
}
.table tbody td{
    font-weight: bold !important;
}